<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>


	<title> Admin Panel</title>
</head>
<body>
<div class="text-center">
<h2 > Admin Panel</h2>
 <a href='/admin/signup'>Signup</a> 
 <a href='/admin/Login'>Login</a> 
 </body>
</html>