<h2>Doctor Entry</h2>
<form action="/admin/doctorform" method="post">
   
    <div>
      <label for="name">Name:</label>
      <input id="name" type="text" name="name">
    </div>
    <div>
      <label for="Specialization">Specialization:</label>
      <input id="Specialization" type="text" name="Specialization">
    </div>

    <div>
      <label for="address">Address:</label>
      <input id="address" type="text" name="address">
    </div>

    <div>
      <label for="tel">Tel:</label>
      <input id="tel" type="text" name="tel">
    </div>

	<div>
      <label for="rating">Rating:</label>
      <input id="rate" type="text" name="rate">
    </div>

    <div>
      <input type="submit" value="Add Doctor">
    </div>

    
</form>

