<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/custom.css"/>
<style type="text/css">
body {
      background-image:url('https://i.imgur.com/Lpo0IIE.jpg');
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center;
    }
</style>
</head>
<!-- click anywhere on the error page to return to the doctorform page -->
<body onclick='window.location.href="/admin/doctorform"'> 
</body>
</html>
