<html>

<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/custom.css"/>

</head>


<body>
<div style="float:right"><a href="/admin/signup">Sign up&rarr;</a></div>


<div class="container" style="margin-buttom:100px">
  <div class="text-center reg_msg">
  <h2 style="color: #808080"><span>Log in</span></h2>

  </div> <br>


<div class="row signup ">
<form action="/admin/login" method="post">

    <div class="row form-group input_group">
    <div class="col-sm-12">
    
      <input id="username" type="text" name="username" class="form-control" placeholder="enter a username">

    </div>
    </div>


    <div class="row form-group input_group">

      <div class="col-sm-12">
       <input id="password" type="password" name="password" class="form-control" placeholder="password">
    </div>
    </div>



    <div class="row form-group">
    <div class="col-sm-12">
      <input type="submit" value="sign in" id="signin" class="form-control btn btn-primary">
    </div>
    </div>
</form>




</div>
</body>
</html>
